/* ul {
    margin : 0;
    padding : 0;
    overflow: hidden;
    background-color: navy;
}

li {
display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.navbar-brand {
    width: 1%;
    height: 5%;
}

.col{
    display: flex;
    width: 33.33%;
    padding: 10px;
} */

/* .container-fluid {
    background-color: navy;
    overflow: hidden;
} */

/* .nav-item {
    color: white;
} */

.homepage-slider-img {
    overflow: hidden;
}

.row {
    padding: 50px;
}

.circle-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.img-text {
    text-align: center;
}